@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

button{
  background-color: rgb(48, 48, 228);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.1rem;
  margin: 10px;
}

input[type=submit]{
  background-color: rgb(247, 250, 100);
  padding: 5px;
  border-radius: 5px;
}

input[type=text]{
  border: 1px solid #000000;
  padding: 10px;
}

.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container h1{
  padding-top: 20px;
  text-align: center;
}

.container p{
  font-weight: 200;
}

.container ul{
  margin: 20px;
}

.container ul li{
  padding: 10px 0px;
}

.container ul li a{
  text-decoration: none;
  font-size: 1.2rem;
}

.container ul li a:hover{
  text-decoration: underline;
}